

@model Publisher

<div class="row ">
    <div class="col-md-2">
        <img src="~/logo/@Model.ImageLogo" class="img-fluid" alt="">

    </div>
    <div class="col-md-10">
        <h1 class="mb-3">@Model.Name</h1>

        <hr>
        <div class="attributes">
            <table style="width: 100%;">

                <tr>
                    <td>Appellation:</td>
                    <td>@Model.Appellation</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>@Model.Phone</td>
                </tr>
                
                <tr>
                    <td>Website:</td>
                    <td>@Model.Website</td>
                </tr>

                 <tr>
                    <td>Address:</td>
                    <td>@Model.Address</td>
                </tr>




            </table>
        </div>

    </div>
</div>



</div>
</div>

</div>